@import './base.css';

body {
    font-family: var(--mainfont);
    background-color: #eee;
}

/*header css start*/

.header {
    background-color: #fff;
    padding: 20px 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;
}

.logo img {
    width: 32px;
}

.header .logo a {
    font-family: "Roboto", sans-serif;
    color: var(--maincolor);
}

.menu {
    display: none;
}

.nav ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

}

.nav ul li a {
    color: #101928;

}

.active {
    font-weight: 700;
}

.auth {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}


.auth a {
    font-family: var(--subfont);
    border: 2px solid #545be8;
    border-radius: 10px;
    padding: 10.354177px 43.181131px;
    font-weight: 700;
    font-size: 13px;
    line-height: 12px;
}

.auth .login {
    color: var(--maincolor);

}

.auth .register {
    color: #FFF;
    background-color: var(--maincolor);

}

/* header css end*/

/* media header */

@media screen and (max-width: 965px) {
    .nav {
        display: none;
    }

    .menu {
        display: block;
        order: 2;
    }

}


@media screen and (max-width: 622px) {

    .auth {
        display: none;
    }
}

@media screen and (max-width: 400px) {

    .container {
        width: calc(100% - 30px);

    }


    .header .logo img {
        width: 20px;
    }

    .header .logo a {
        font-size: 15px;
    }

}

/*end of main header*/
/* start begins */

.begins{
    background-color: #fff;
    padding: 80px ;
}
.begins .row {
    gap: 20px;
}

.intro span{
    color: var(--maincolor);
  
}
#Letsbeings-word{

    font-family: var(--subfont);
    font-size: 20px;
}

#begins-word{
    font-weight: 700;
}

.intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    width: 1209px;
}

.intro h2{
    color: #141E32;
    
    width: 338px;
    font-size: 39px;
}

.intro p{
    color: #969696;
    margin-bottom: 36px;
}

.join{
    display: flex;
    flex-wrap: wrap;
   
}

.join .register{
    background-color: var(--maincolor);
    color: #fff;
    font-family: var(--subfont);
    padding: 13.354177px 40.181131px;
    border-radius: 15px;

}

.intro-vedio{
    display: flex;
    flex-wrap: wrap;
    padding: 10.354177px 43.181131px;
    gap: 6px;
    
}

.intro-vedio img{
    width: 30px;
    height: 30px;
}

.intro-vedio .play-vedio{
    color: #141E32;
    font-family: var(--subfont);
    font-size: 20px;

}
.student-img{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
   
}
.student-img img{
    width: 100%;
    

}

/* end begins */
/*meadia begins*/
@media screen and (max-width: 1840px){
    .intro{
        width: 66%;
    }
    
}


@media screen and (max-width: 1087px){
    .intro{
        width: 50%;
    }

    .join .register{
        padding: 15.354177px 71.181131px;
    }
    
    .intro-vedio{
        padding: 14.354177px 29.181131px;
    }

    
}

@media screen and (max-width: 890px){
    .intro{
        width: 100%;
        order: 1;
    }
    .student-img img{
        width: 54%;
        margin: auto;
    }
}

    @media screen and (max-width: 500px){
        
       .intro h2{
        font-size: 20px;
        width: 252px;
       }
    
       .intro p{
        width: 200px;
       }
       .student-img img{
        width: 73%;
       }

       .begins{
        padding: 20px;
       }

       #Letsbeings-word {
        font-size: 11px;
    

           }   
         }



 
/*end of meadia begins*/


/*statr services*/
.services{
    padding: 316px 0 60px 138px;
    background-color: #F5F5F5;
}
.services .row{
    display: flex;
    flex-wrap: wrap;
    gap: 460px;
}

.services span{
    color: var(--maincolor);
}
.about-offers{
    width: 300px;
}

.about-offers h2{
    color: #141E32;
    width: 200px;
   /* margin-top: -96px;*/
    font-size: 30px;
}
.about-offers p{
    color: #969696;
  /*  width: 369px;*/
    margin-top: 20px ;

}

.offers{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   
}
.offers-item{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    background-color: var(--maincolor);
    border-radius: 10px;
    padding: 9px 40px;
   
}

.offers-item img{
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    padding: 6px;
}

.offers-item h2{
    color: #fff;

}

.offers-item p{
    color: #DDDDDD;
}

/*end services*/

/*media services*/

@media screen and (max-width: 1880px) {
   
    .services .row{
        gap: 100px;
    }
    .offers-item{
        padding: 4px 20px;
    }

}

@media screen and (max-width: 600px) {
    .services{
        padding: 20px;
    }
    .offers-item {
        margin: auto;
    }

}
/*end of media services*/

/*start select-course*/

.select-course{
    padding: 80px 30px;
    background: linear-gradient(180deg, #545be8 0%, #272db0 100%);
}
.select-course .row{
    gap: 320px;
}
.stu-img{
    width: 740px;
}

.stu-img img{
    width: 500px;
}
.select-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 32px;
    flex-grow: 1;
    
    
}
.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
}
.info span{
    font-family: var(--subfont);
    color: #F0C932;
}
.info h2{
    color: #fff;
    width: 235px;
    font-size: 32px;
    

}
.info p{
    color: #ddd;
    width: 425px;
    font-size: 17px;
}
.classification
{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    
}
.classification-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
    font-family: var(--subfont);
}
.classification-info span{
    color: #F0C932;
    margin: auto;
    font-weight: 700;
    font-size: 25px;
}
.classification-info p{
    color: #ddd;
    
}

/*end select-course*/

/*media select-course*/

@media screen and (max-width:1715px) {
    .stu-img{
        width: 525px;
    }
    
}
@media screen and (max-width:1510px) {
    .stu-img{
        width: 230px;
    }
    
}
@media screen and (max-width:1220px) {
    .select-course{
        padding: 30px,0;
    }
    .stu-img{
        width: 36px;
    }
    .stu-img img{
        width: 400px;
    }
    
}
@media screen and (max-width:1220px) {
    .select-course{
        padding: 30px,0;
    }
    .stu-img img{
        width: 300px;
    }
    .select-info{
        flex-grow: 0;
    }
    .info h2{
        font-size: 21px;
    }
    .info p{
        width: 240px;
    }

    .info span{
        font-size: 11px;
    }

    
}
@media screen and (max-width:1000px) {
   .select-info{
    margin-top: -280px;
   }
    
}
@media screen and (max-width:545px) {
    .classification{
        flex-direction: column;
        gap: 31px;
    }
   
     .classification-info{
        display: block;
        
     }

 }

 @media screen and (max-width:350px) {
  .stu-img img{
    width: 222px;
  }

 }
/* end of media select-course*/

/* start courses*/
.courses{
    padding: 50px 0;
    
}

.courses .row{
    gap: 500px;
    align-items: flex-start;
}

.course-item,
.description{
    width: calc((100% - 500px) /2);
}

.course-item{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.course{
    width: calc((100% - 20px) /2);
    
}
.course-card img{
    width: 100%;
    filter: brightness(70%);
    display: flex;
    flex-wrap: wrap;
}
.course-card{
    position: relative;

}

.course-info{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    bottom: -11px;
    left: -20px;
    right: -15px;
    color: #fff;
    padding: 20px;
    align-items: self-start;
}

#best-course{
    background-color: var(--maincolor);
    padding: 6px;
}
#price{
    align-self: flex-end;
    font-size: 22px;
    font-weight: 600;
}
.details{
    background-color: #fff;
    box-shadow: 9px 11.437575px 17.437575px rgba(0, 0, 0, 0.5);
    padding: 7px;
}
.row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.row1 h2{
    color: #141E32;

}
.row1 span{
    color: var(--maincolor);
}
.row2{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    color: #969696;
}
.description{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.description span{
    color: var(--maincolor);
    font-family: var(--subfont);
}
.description h2{
    color: #141E32;
    width: 100px;
    font-size: 50px;
}
.description p{
    color: #969696;
    margin-bottom: 23px;
    width: 420px;
    font-size: 20px;
}
.description a{
    background-color: var(--maincolor);
    color: #fff;
    font-family: var(--subfont);
    border: 2px solid #545be8;
    border-radius: 10px;
    padding: 11px 40px;
    font-weight: 700;
    font-size: 16px;
     line-height: 12px;
     width: 51px;
}




/* end courses */
/*start media course*/

@media screen  and (max-width: 1700px){
    #best-course{
        padding: 2px;
        font-size: 11px;
    }
    #price{
        font-size: 15px;
    }
    .row1 h2{
        font-size: 15px;
    }
    .row1 span, 
    .row2{
        font-size: 12px
    }
    
    
}

@media screen and (max-width:1600px) {
    .courses .row{
        gap: 100px;
    }
    .course-item{
        width: 60%;
        flex-wrap: wrap;
    }
    .description{
        width: 100%;   
    }
    }


   @media screen and (max-width:870px) {
    .course-item{
        width: 100%;
    }
    
    
        .course-item{
            justify-content: center;
            flex-wrap: wrap;
        }
        .description p{
            width: 330px;
            font-size: 14px;
        }
        .description h2{
            font-size: 28px;

        }
        .description span{
            font-size: 11px;
        }
    }
    @media screen and (max-width: 488px) {
        .course-info{
            top: -13px;
        }
        #price{
            font-size: 11px;
        }
        .row1 h2{
            font-size: 12px;

        }
        .row1 span{
            font-size: 9px;

        }
        
    }
    @media screen and (max-width: 420px) {
        .row1{
            flex-direction: column;
        }
        .row2{
            gap: 8px;
        }
    
    }
/*end media courses*/


/* Testimonials start */

.testimonials {
    padding: 50px 0;
    background-color: #fff;
    
}

.testimonials h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.testimonials .row {
    gap: 40px;
}

.testimonial {
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgb(0 0 0 / 45%);
    padding: 61px;
    margin-top: 30px;
    box-sizing: border-box;
    width: calc((100% - 40px)/2);
    position: relative;
}
.testimonial::after{
    content: '';
    position: absolute;
    border-top: 50px solid #F4F4F4;
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid #F4F4F4;
    right: 0;
    top: 0;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}


.user-info img {
    border-radius: 50%;
    width: 61px;
}


.user-info span {
    color: #969696;
}


/* Testimonials end */

/* media testimonial */

@media screen and (max-width: 1096px) {
    .testimonial {
        width: 100%;
    }

}

/* end of media testimonial */

/* footer start*/

.footer {
    background-color: #393E46;
    color: #fff;
    padding: 40px;
}

.footer .logo a {
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.footer a {
    color: #fff;
}

.footer-start {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 35px;
    width: 516px;
}

.footer-start .icon img {
    width: 32px;
    height: 29px;

}

.footer-end {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-end nav {
    display: flex;
    flex-direction: column;
    gap: 23px;
    flex-wrap: wrap;

}

.footer-end h2 {
    margin-bottom: 30px;
}

/* footer end */

/* media footer */
@media screen and (max-width: 1300px) {
    .footer-start {
        width: 100%;
        margin-bottom: 20px;
        gap: 20px;
    }
}

.footer-end {
    justify-content: space-evenly;
}


@media screen and (max-width: 715px) {
    .footer-item {
        width: 50%;
        margin-bottom: 20px;
    }

    .footer-end h2 {
        margin-bottom: 13px;
        font-size: 22px;
    }
}

@media screen and (max-width:451px) {
    .footer-item {
        width: 100%;
        margin-bottom: 20px;
    }

}

/* end of media footer*/