@import './base.css';

body{
    font-family: var(--mainfont);
    background-color: #eee;
}

.header{
    background-color: #fff;
    padding: 20px 20px;
}

.header .logo{
    display: flex;
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;
}

.header .logo img{
    width: 40px;
}

.header .logo a{
    font-family: "Roboto", sans-serif;
    color: var(--maincolor);
}
.menu{
    display: none;
}

.nav ul{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

}

.nav  ul li a{
    color: #101928;

}

.active{
    font-weight: 700;
}

.auth{
    display:flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
   

.auth a{
    font-family: var(--subfont);
    border: 2px solid #545be8;
    border-radius: 10px;
    padding: 7.3541765213012695px 38.18113136291504px;
    font-weight: 700;
    font-size: 13px;
    line-height: 12px;
}

.auth .login{
    color: var(--maincolor);
   
}

.auth .register{
    color: #FFF;
    background-color: var(--maincolor);

}

/* media header */

@media screen and (max-width: 965px){
    .nav{
        display: none;
    }
    
    .menu{
        display: block;
        order: 2;
    }
    
}


@media screen and (max-width: 622px){
    
    .auth{
        display: none;
    }
}

    @media screen and (max-width: 400px){
    
        .header .logo img{
            width: 20px;
        }

        .header .logo a{
            font-size: 15px;
        }
   
}
  /*end of main header*/
