/* start begins */

/*.begins{
    background-color: #fff;
    padding: 94px ;
}

.intro span{
    color: var(--maincolor);
  
}
#Letsbeings-word{

    font-family: var(--subfont);
    font-size: 20px;
}

#begins-word{
    font-weight: 700;
}

.intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    width: 1090px;
}

.intro h2{
    color: #141E32;
    width: 338px;
    font-size: 39px;
}

.intro p{
    color: #969696;
    width: 445px;
    margin-bottom: 36px;
}

.join{
    display: flex;
    flex-wrap: wrap;
   
}

.join .register{
    background-color: var(--maincolor);
    color: #fff;
    font-family: var(--subfont);
    padding: 13.354177px 40.181131px;
    border-radius: 15px;

}

.intro-vedio{
    display: flex;
    flex-wrap: wrap;
    padding: 10.354177px 43.181131px;
    gap: 6px;
    
}

.intro-vedio img{
    width: 30px;
    height: 30px;
}

.intro-vedio .play-vedio{
    color: #141E32;
    font-family: var(--subfont);
    font-size: 20px;

}
.student-img{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
   
}
.student-img img{
    width: 412px;
    height: 412px;
}*/